<div class="static_pages_wrapper article_detail_wrapper">
  <div class="wrapper">
    <div class="article_wrapper">
      <section class="title_wrapper">
        <div class="title">
          <%= @profile.title %>
        </div>
      </section>
      <section class="introduction_wrapper">
        <%= @profile.content %>
      </section>
    </div>
  </div>
</div>
