<div class="article_list_wrapper">
  <% @contents.each do |content| %>
    <article class="article_headline">
      <%= link_to(article_path(1)) do %>
        <div class="eyecatch">
          <img src="" alt="" />
        </div>
        <span class="date">
          <%= markdown(content[2]).html_safe %>
        </span>
        <p>
          <%= markdown(content[0]).html_safe %>
        </p>
        <p>
          <%= markdown(content[1]).html_safe %>
        </p>
      <% end %>
    </article>
  <% end %>
</div>