<div class="article_list_wrapper">
  <% @articles.each do |article| %>
    <article class="article_headline">
      <%= link_to(article_path(1)) do %>
        <div class="eyecatch">
          <img src="" alt="" />
        </div>
        <span class="date">
          <%#<%= markdown(article.created_at).html_safe %>
        </span>
        <p>
          <%= markdown(article.title).html_safe %>
        </p>
        <p>
          <%= markdown(article.content).html_safe %>
        </p>
      <% end %>
    </article>
  <% end %>
</div>