<div class="article_list_wrapper">
  <% @articles.each do |article| %>
    <article class="article_headline">
      <%= link_to(article_path(1)) do %>
        <div class="eyecatch">
          <img src="" alt="" />
        </div>
        <span class="date">
          <%= article.created_at %>
        </span>
        <p>
          <%= article.title %>
        </p>
        <p>
          <%= article.content %>
        </p>
      <% end %>
    </article>
  <% end %>
</div>