<div class="search_wrapper">
  <span class="search">search for...</span>
  <%= form_with(url: '/1', local: true) do |f| %>
    <%= f.text_field :keyword %>
    <%= f.submit "go!" %>
  <% end %>
</div>