<div class="search_wrapper">
  <span class="search">search for...</span>
  <%= form_with(url: search_path, method: 'get', local: true) do |f| %>
    <%= f.text_field :keyword %>
    <%= f.submit "go!", name: nil %>
  <% end %>
</div>