<div class="article_detail_wrapper">
  <section>
    <%# <%= markdown(@article.created_at).html_safe %>
    <%= markdown(@article.title).html_safe %>
  </section>
  <section>
    <%= markdown(@article.content).html_safe %>
  </section>
</div>