<div class="article_detail_wrapper">
  <section>
    <%= markdown(@contents[2]).html_safe %>
    <%= markdown(@contents[0]).html_safe %>
  </section>
  <section>
    <%= markdown(@contents[1]).html_safe %>
  </section>
</div>