<header>
  <div class="static_pages_wrapper">
    <div class="blog_title">
      <%= link_to 'Junk-Box', root_path, class: 'theme_color' %><br />
      <%= link_to '管理画面', admin_path(current_user) if request.path.include?('/admin') && current_user  %>
    </div>
    <% if @admin %>
      <%= link_to("#{@admin.name}でログイン中", admin_path(@admin)) %>
    <% end %>
  </div>
</header>