<header>
  <div class="blog_title">
    <%= link_to 'Junk-Box', root_path %><br />
    <%= "管理画面" if request.path.include?('/admin')  %>
  </div>
  <% if @admin %>
    <%= link_to("#{@admin.name}でログイン中", admin_path(@admin)) %>
  <% end %>
</header>
