// Place all the styles related to the Admin::Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.admin_article_wrapper {
  padding: 5% 15%;
}

.post_wrapper {
  width: 1000px;
}

/*
  _article_list
*/
._article_list__wrapper {
  padding: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 7px;

  .item {
    margin-bottom: 15px;
    display: flex;
    border-bottom: solid 1px  #e6e6e6;
  }

  .article {
    width: 50%;

    .title {
      font-size: 1.7rem;
    }

    .small {
      font-size: 0.7rem;
    }
  }

  .action_wrapper {
    display: flex;

    .clickable_item {
      padding-right: 15px;
    }

    .disable {
      color: #DDDDDD;
    }
  }
}
