// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.article_detail_wrapper {
  padding: 0 5%;

  .wrapper {
    display: flex;
    padding-top: 5%;
  }

  .article_wrapper {
    width: 100%;
  }

  .title_wrapper {
    margin-top: 2%;
    text-align: center;

    .title {
      font-size: 2em;
    }
  }

  .content_wrapper {
    padding-top: 7%;
  }

  .index_wrapper {
    width: 250px;
    height: 400px;
    margin-left: 10%;
    background-color: #E9E1E1;
  }
}

@media (max-width: 480px) {
  .article_detail_wrapper {
    width: calc(100% - 10%);
    padding: 5%;

    .wrapper {
      display: inline;
      padding: 0;
    }

    .article_wrapper {
      width: 100%;
    }

    .content_wrapper {
      padding-top: 5%;
    }
  }
}

@media (min-width: 1600px) {
  .article_detail_wrapper {
    padding: 0 10%;
  }
}
