// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
header {
  padding: 20px 30px;
  color: white;
  background-color: #606060;
  a {
    text-decoration: none;
    color: white;
  }

  .blog_title {
    font-size: 2.5rem;
  }
}

footer {
  padding: 30px;
  color: white;
  background-color: #606060;

  .copy_right_wrapper {
    text-align: center;
  }
  .copy_right {
    font-family:'Times New Roman', 'Times';
  }
}

.static_pages_wrapper {
  width: 100%;
  min-width: 800px;
  background-color: #606060;
}

/* 
  searchコンポーネント
*/
.search_wrapper {
  text-align: center;
}

.search {
  color: white;
}

/*
  article_listコンポーネント
*/
.article_list_wrapper {
  margin: 100px 50px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;

  h1, p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .date, .intro {
    color: #55606a;
  }

  .article_headline {
    margin: 30px 10px;
    width: 300px;
  }

  .eyecatch {
    width: auto;
    height: 150px;
    background-color: #E9E1E1;
  }

  .title {
    font-size: 1.5em;
    padding-bottom: 5px;
  }

}

@media (max-width: 480px) {
  .static_pages_wrapper {
    min-width: 0;
  }

  .article_list_wrapper {
    margin: 10px;
    padding-left: 0px;
    padding-top: 10px;
    display: block;

    .article_headline {
      margin: 30px 10px;
      width: auto;
    }
  }
}