// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
header {
  text-align: center;
  padding: 20px 30px;

  a {
    text-decoration: none;
    color: black;
  }

  .blog_title {
    font-size: 2.5rem;
  }
}

footer {
  padding: 30px;
  color: black;

  .copy_right_wrapper {
    text-align: center;
  }
  .copy_right {
    font-family:'Times New Roman', 'Times';
  }
}

.static_pages_wrapper {
  padding: 0px 20%;
  min-width: calc(800px - 40%);
}

/* 
  searchコンポーネント
*/
.search_wrapper {
  text-align: center;
}

.search {
  color: #55606a;;
}

/*
  article_listコンポーネント
*/
.article_headline {
  margin: 30px 0px;

    h1, p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .date, .intro {
    color: #55606a;
  }

  .title {
    font-size: 1.5em;
    padding-bottom: 5px;
  }
}

@media (max-width: 480px) {
  .static_pages_wrapper {
    padding: 0% 5%;
    min-width: 0;
  }

  .article_headline {
    margin: 30px 10px;
    width: auto;
  }
}
